### This notebook contains the solutions of leetcode`s 30 days of Pandas tutorial

Link: https://leetcode.com/studyplan/30-days-of-pandas/

## Data Filtering

#### Q1. Day 1: 595. Big Countries

- A country is big if:

- it has an area of at least three million (i.e., 3000000 km2), or
- it has a population of at least twenty-five million (i.e., 25000000).
- Write a solution to find the name, population, and area of the big countries.

- Return the result table in any order.

In [60]:
import pandas as pd

def big_countries(world: pd.DataFrame) -> pd.DataFrame:
    return world.loc[(world["area"] >= 3000000) | (world["population"] >= 25000000), ['name', "population", "area"]]

#Test case:
name = ['AFG', 'ALB', 'ALG', 'AND', 'ANG']
continent = ['Asia', 'Europe', 'Africa', 'Europe', 'Africa']
area = [652230, 28748, 2381741, 468, 1246700]
population = [25500100, 2831741, 37100000, 78115, 20609294]
gdp = [20343000000, 12960000000, 188681000000, 3712000000, 100990000000]
world_ls = list(zip(name, continent, area, population, gdp))

world_df = pd.DataFrame(world_ls, columns=['name', 'continent', 'area', 'population', 'gdp'])

big_countries(world_df)

  name  population     area
0  AFG    25500100   652230
2  ALG    37100000  2381741

#### Q2. Day 2: 1757. Recyclable and Low Fat Products

-  Write a solution to find the ids of products that are both low fat and recyclable.

-  Return the result table in any order.

In [61]:
import pandas as pd

def find_products(products: pd.DataFrame) -> pd.DataFrame:
    return products.loc[(products["low_fats"] == 'Y') & (products["recyclable"] == 'Y'), ["product_id"]]

# Test case:
product_id = range(0, 5)
low_fats = ['Y', 'Y', 'N', 'Y', 'N']
recyclable = ['N', 'Y', 'Y', 'Y', 'N']
products = pd.DataFrame(list(zip(product_id, low_fats, recyclable)), columns=['product_id', 'low_fats', 'recyclable'])

find_products(products)

   product_id
1           1
3           3

#### Q3. Day 3: 183. Customers Who Never Order

- Write a solution to find all customers who never order anything.

- Return the result table in any order.

In [87]:
import pandas as pd

def find_customers(customers: pd.DataFrame, orders: pd.DataFrame) -> pd.DataFrame:
    df_merge = pd.merge(left=customers, right=orders, how="left", left_on=["id"], right_on=["customer_id"])
    return df_merge[df_merge["customer_id"].isna()].rename(columns={"name": "Customers"}).loc[:, ["Customers"]]

    # df = customers[~customers["id"].isin(orders["customer_id"])]    #We can also use pd.merge function left join
    # return df[["name"]].rename(columns={"name": "Customers"})

# Test case:
Customers_table = [[1, 'Joe'], [2, 'Henry'], [3, 'Sam'], [4, 'Max']]
Orders_table = [[1, 3], [2, 1]]

customers = pd.DataFrame(Customers_table, columns=['id', 'name'])
orders = pd.DataFrame(Orders_table, columns=['id', 'customer_id'])

find_customers(customers, orders)

  Customers
1     Henry
3       Max

#### Q4, Day 4. 1148. Article Views I

- Write a solution to find all the authors that viewed at least one of their own articles.

- Return the result table sorted by id in ascending order.

In [101]:
import pandas as pd

def article_views(views: pd.DataFrame) -> pd.DataFrame:
    df = views.loc[views["author_id"] == views["viewer_id"], ["author_id"]]
    df = df.sort_values(by="author_id").drop_duplicates(subset=['author_id']).rename(columns={'author_id': 'id'})

    return df

# Test cases:
article_id = [1, 1, 2, 2, 4, 3, 3]
author_id = [3, 3, 7, 7, 7, 4, 4]
viewer_id = [5, 6, 7, 6, 1, 4, 4]
view_date = ['2019-08-01', '2019-08-02', '2019-08-01', '2019-08-02', '2019-07-22', '2019-07-21', '2019-07-21']

views_table = list(zip(article_id, author_id, viewer_id, view_date))
views = pd.DataFrame(views_table, columns=['article_id', 'author_id', 'viewer_id', 'view_date'])

article_views(views)

   id
5   4
2   7

## String methods

#### Q5. Day 5. 1683. Invalid Tweets

- Write a solution to find the IDs of the invalid tweets. The tweet is invalid if the number of characters used in the content of the tweet is strictly greater than 15.

In [102]:
import pandas as pd

def invalid_tweets(tweets: pd.DataFrame) -> pd.DataFrame:
    return tweets.loc[tweets["content"].str.len() > 15, ["tweet_id"]]  #str.len() calculates lenght by number of characters

#Test case:
tweet_table = [[1, 'let us code'], [2, 'More than fifteen chars are here!']]
tweets = pd.DataFrame(tweet_table, columns=['tweet_id', 'content'])

invalid_tweets(tweets)

   tweet_id
1         2

#### Q6. Day 6. 1873. Calculate Special Bonus

- Write a solution to calculate the bonus of each employee. 
    - The bonus of an employee is 100% of their salary if the ID of the employee is an odd number and the employee's name does not start with the character 'M'. 
    - The bonus of an employee is 0 otherwise.

- Return the result table ordered by employee_id.

In [120]:
import pandas as pd

def calculate_special_bonus(employees: pd.DataFrame) -> pd.DataFrame:
    employees.loc[:, "bonus"] = 0
    employees.loc[(employees["employee_id"] % 2 != 0) & (employees["name"].str[0] != 'M'), ["bonus"]] = employees["salary"]
    return employees.loc[:, ["employee_id", "bonus"]].sort_values(by="employee_id")

# Test case:
employee_id = [2, 3, 7, 8, 9]
name = ['Meir', 'Michael', 'Addilyn', 'Juan', 'Kannon']
salary = [3000, 3800, 7400, 6100, 7700]

employees = pd.DataFrame(list(zip(employee_id, name, salary)), columns=['employee_id', 'name', 'salary'])

calculate_special_bonus(employees)

   employee_id  bonus
0            2      0
1            3      0
2            7   7400
3            8      0
4            9   7700

#### Q7. Day 7. 1667. Fix Names in a Table

- Write a solution to fix the names so that only the first character is uppercase and the rest are lowercase.

- Return the result table ordered by user_id.

In [150]:
import pandas as pd

def fix_names(users: pd.DataFrame) -> pd.DataFrame:
    users['name'] = users.loc[:, "name"].apply(lambda x: x[0].upper() + x[1:].lower())
    # users.loc[:, ["name"]] = users.loc[:, "name"].str.capitalize()
    return users.sort_values(by="user_id")

# Test case:
users_table = [[1, 'aLice'], [2, 'bOB']]
users = pd.DataFrame(users_table, columns=['user_id', 'name'])

fix_names(users)

   user_id   name
0        1  Alice
1        2    Bob

#### Q8. Day 8. 1517. Find Users With Valid E-Mails

- Write a solution to find the users who have valid emails.

- A valid e-mail has a prefix name and a domain where:

- The prefix name is a string that may contain letters (upper or lower case), digits, underscore '_', period '.', and/or dash '-'. The prefix name must start with a letter.
- The domain is '@leetcode.com'.
- Return the result table in any order.

In [171]:
import pandas as pd

def valid_emails(users: pd.DataFrame) -> pd.DataFrame:
    emails_pattern = r'^[a-zA-Z][a-zA-Z0-9_\.\-]*@leetcode\.com$'
    valid_emails = users.loc[users["mail"].str.match(emails_pattern), ["user_id", "name", "mail"]]
    return valid_emails

#Test case:
user_id = [1, 2, 3, 4, 5, 6, 7]
name = ['Winston', 'Jonathan', 'Annabelle', 'Sally', 'Marwan', 'David', 'Shapiro']
mail = ['winston@leetcode.com', 'jonathanisgreat', 'bella-@leetcode.com', 'sally.come@leetcode.com', 'quaraz#2020@leetcode.com', 'david69@leetcode.com', '.shapo@leetcode.com']

users_table = list(zip(user_id, name, mail))
users = pd.DataFrame(users_table, columns=['user_id', 'name', 'mail'])

valid_emails(users)

   user_id       name                     mail
0        1    Winston     winston@leetcode.com
2        3  Annabelle      bella-@leetcode.com
3        4      Sally  sally.come@leetcode.com
5        6      David     david69@leetcode.com

#### Q9. Day 9. 1527. Patients With a Condition

- Write a solution to find the patient_id, patient_name, and conditions of the patients who have Type I Diabetes. Type I Diabetes always starts with DIAB1 prefix.

- Return the result table in any order.

In [177]:
import pandas as pd

def find_patients(patients: pd.DataFrame) -> pd.DataFrame:
    patients["Type1"] = patients.loc[:, "conditions"].str.contains(r'\bDIAB1')
    return patients.loc[patients["Type1"] == True, ["patient_id", "patient_name", "conditions"]]

# Test case:
patient_id = [1, 2, 3, 4, 5]
patient_name = ['Daniel', 'Alice', 'Bob', 'George', 'Alain']
conditions = ['YFEV COUGH', None, 'DIAB100 MYOP', 'ACNE DIAB100', 'DIAB201']

patients_table = list(zip(patient_id, patient_name, conditions))
patients = pd.DataFrame(patients_table, columns=['patient_id', 'patient_name', 'conditions'])

find_patients(patients)

   patient_id patient_name    conditions
2           3          Bob  DIAB100 MYOP
3           4       George  ACNE DIAB100

#### Q10. Day 10.

## Data Manipulation

#### Q11. Day 11. 177. Nth Highest Salary

- Write a solution to find the nth highest salary from the Employee table. If there is no nth highest salary, return null.

In [208]:
import pandas as pd

def nth_highest_salary(employee: pd.DataFrame, N: int) -> pd.DataFrame:
    unique_salaries = employee.sort_values(by="salary", ascending=False).drop_duplicates('salary', keep='first')
    size = len(unique_salaries)
    if N <= 0 or N > size:
        return pd.DataFrame({f'getNthHighestSalary({N})': [None]})
    val = employee["salary"].iloc[N-1]

    return pd.DataFrame({f'getNthHighestSalary({N})': [val]})

# Test case 1:
employees_table = [[1, 100], [2, 200], [3, 300]]
employee = pd.DataFrame(employees_table, columns=['id', 'salary'])

nth_highest_salary(employee, 2)

   getNthHighestSalary(2)
0                     200

In [209]:
# Test case 2:
employees_table = [[1, 100]]
employee = pd.DataFrame(employees_table, columns=['id', 'salary'])

nth_highest_salary(employee, 2)

  getNthHighestSalary(2)
0                   None

#### Q12. Day 12. 176. Second Highest Salary

- Write a solution to find the second highest distinct salary from the Employee table. If there is no second highest salary, return null (return None in Pandas).

In [212]:
import pandas as pd

def second_highest_salary(employee: pd.DataFrame) -> pd.DataFrame:
    unique_salaries = employee.sort_values(by="salary", ascending=False).drop_duplicates("salary", keep='first')
    size = len(unique_salaries)

    if size < 2:
        return pd.DataFrame({"SecondHighestSalary": [None]})

    SecondHighest = unique_salaries["salary"].iloc[1]
    return pd.DataFrame({'SecondHighestSalary': [SecondHighest]})        

# Test case 1:
employees_table = [[1, 100], [2, 200], [3, 300]]
employee = pd.DataFrame(employees_table, columns=['id', 'salary'])

second_highest_salary(employee)

   SecondHighestSalary
0                  200

In [213]:

employees_table = [[1, 100]]
employee = pd.DataFrame(employees_table, columns=['id', 'salary'])

second_highest_salary(employee)

  SecondHighestSalary
0                None

#### Q13. Day 13: 184. Department Highest Salary

- Write a solution to find employees who have the highest salary in each of the departments.

- Return the result table in any order.

In [3]:
import pandas as pd

def department_highest_salary(employee: pd.DataFrame, department: pd.DataFrame) -> pd.DataFrame:
    df = pd.merge(left=employee, right=department, how='inner', left_on='departmentId', right_on='id')
    df = df.loc[:, ['name_y', 'name_x', 'salary']].rename(columns={'name_y': 'Department', 'name_x':'Employee', 'salary': 'Salary'})
    df_dept_salary = df.loc[:, ["Department", "Salary"]].groupby("Department").max()
    df_new = pd.merge(left=df, right=df_dept_salary, how='inner', left_on=["Salary", "Department"], right_on=["Salary", "Department"])
    return df_new

# Test case:
id = [1, 2, 3, 4, 5]
name = ['Joe', 'Jim', 'Henry', 'Sam', 'Max']
salary = [70000, 90000, 80000, 60000, 90000]
departmentId = [1, 1, 2, 2, 1]
employees_table = list(zip(id, name, salary, departmentId))
employee = pd.DataFrame(employees_table, columns=['id', 'name', 'salary', 'departmentId'])

department_table = [[1, 'IT'], [2, 'Sales']]
department = pd.DataFrame(department_table, columns=['id', 'name'])

department_highest_salary(employee, department)

  Department Employee  Salary
0         IT      Jim   90000
1      Sales    Henry   80000
2         IT      Max   90000

#### Q14. Day 14: 178. Rank Scores

- Write a solution to find the rank of the scores. The ranking should be calculated according to the following rules:

    - The scores should be ranked from the highest to the lowest.
    - If there is a tie between two scores, both should have the same ranking.
    - After a tie, the next ranking number should be the next consecutive integer value. In other words, there should be no holes between ranks.
- Return the result table ordered by score in descending order.

In [16]:
import pandas as pd

def order_scores(scores: pd.DataFrame) -> pd.DataFrame:
    return scores.rank(method="dense", ascending=False)
    return scores.rank(method="dense", ascending=False)

#Test case:
id = [1, 2, 3, 4, 5, 6]
score = [3.50, 3.65, 4.00, 3.85, 4.00, 3.65]
scores = pd.DataFrame(list(zip(id, score)), columns=['id', 'score'])

order_scores(scores)

    id  score
0  6.0    4.0
1  5.0    3.0
2  4.0    1.0
3  3.0    2.0
4  2.0    1.0
5  1.0    3.0

#### Q15. Day 15: 196. Delete Duplicate Emails

Write a solution to delete all duplicate emails, keeping only one unique email with the smallest id.

For SQL users, please note that you are supposed to write a DELETE statement and not a SELECT one.

For Pandas users, please note that you are supposed to modify Person in place.

After running your script, the answer shown is the Person table. The driver will first compile and run your piece of code and then show the Person table. The final order of the Person table does not matter.

In [23]:
import pandas as pd

def delete_duplicate_emails(person: pd.DataFrame) -> None:
    person.sort_values(by="id", inplace=True)
    person.drop_duplicates(subset=["email"], keep="first", inplace=True)
    return person

# Test case:
id = [1, 2, 3]
email = ['john@example.com', 'bob@example.com', 'john@example.com']
person_table = list(zip(id, email))
person = pd.DataFrame(person_table, columns=['id', 'email'])

delete_duplicate_emails(person)

   id             email
0   1  john@example.com
1   2   bob@example.com

#### Q16. Day 16: 1795. Rearrange Products Table

- Write a solution to rearrange the Products table so that each row has (product_id, store, price). If a product is not available in a store, do not include a row with that product_id and store combination in the result table.

- Return the result table in any order.

In [27]:
import pandas as pd

def rearrange_products_table(products: pd.DataFrame) -> pd.DataFrame:
    products_melt =  pd.melt(products, id_vars=["product_id"], value_vars=["store1", "store2", "store3"]).rename(columns={"variable": "store", "value": "price"})
    return products_melt.dropna().sort_values(by="product_id")

products_table = [[0, 95, 100, 105], [1, 70, None, 80]]
products = pd.DataFrame(products_table, columns=["product_id", "store1", "store2", "store3"])

rearrange_products_table(products)

   product_id   store  price
0           0  store1   95.0
2           0  store2  100.0
4           0  store3  105.0
1           1  store1   70.0
5           1  store3   80.0

## Statistics

#### Q17. Day 17: 
#### Q18. Day 18:

#### Q19. Day 19: 1907. Count Salary Categories

Write a solution to calculate the number of bank accounts for each salary category. The salary categories are:

- "Low Salary": All the salaries strictly less than $20000.
- "Average Salary": All the salaries in the inclusive range [$20000, $50000].
- "High Salary": All the salaries strictly greater than $50000.

The result table must contain all three categories. If there are no accounts in a category, return 0.

Return the result table in any order.

The result format is in the following example.

In [194]:
import pandas as pd

def income_category(x):
    if x["income"] < 20000:
        return "Low Salary"
    elif x["income"] <= 50000:
        return "Average Salary"
    else:
        return "High Salary"

def count_salary_categories(accounts: pd.DataFrame) -> pd.DataFrame:
    accounts["income_category"] = accounts.apply(lambda x: income_category(x), axis=1)
    income = pd.DataFrame(["Low Salary", "Average Salary", "High Salary"], columns=["income_level"])
    df = pd.merge(left=income, right=accounts, how='left', left_on="income_level", right_on="income_category")
    df_new = df.groupby(["income_level"], as_index=False).count().loc[:, ["income_level", "account_id"]]
    df_new.rename(columns={"income_level": "category", "account_id": "accounts_count"}, inplace=True)
    return accounts["income_category"].value_counts()

# Test case:
account = [[3, 108939], [2, 12747], [8, 87709], [6, 91796]]
accounts = pd.DataFrame(account, columns=["account_id", "income"])

count_salary_categories(accounts)

income_category
High Salary    3
Low Salary     1
Name: count, dtype: int64

## Data Aggregation

#### Q21. Day 21: 1741. Find Total Time Spent by Each Employee

- Write a solution to calculate the total time in minutes spent by each employee on each day at the office. Note that within one day, an employee can enter and leave more than once. The time spent in the office for a single entry is out_time - in_time.

Return the result table in any order.

In [58]:
import pandas as pd

def total_time(employees: pd.DataFrame) -> pd.DataFrame:
    df = employees.groupby(by=["emp_id", "event_day"], as_index=False).sum()
    df.loc[:, ["total_time"]] = df["out_time"] - df["in_time"]
    df.rename(columns={"event_day": "day"}, inplace=True)
    return df.loc[:, ["day", "emp_id", "total_time"]]    

# Test case:
emp_id = [1, 1, 1, 2, 2]
event_day = ['2020-11-28', '2020-11-28', '2020-12-03', '2020-11-28', '2020-12-09']
in_time = [4, 55, 1, 3, 47]
out_time = [32, 200, 42, 33, 74]
employees_table = list(zip(emp_id, event_day, in_time, out_time))
employees = pd.DataFrame(employees_table, columns=['emp_id', 'event_day', 'in_time', 'out_time'])

total_time(employees)

          day  emp_id  total_time
0  2020-11-28       1         173
1  2020-12-03       1          41
2  2020-11-28       2          30
3  2020-12-09       2          27

#### Q22. Day 22: 511. Game Play Analysis I

- Write a solution to find the first login date for each player.

- Return the result table in any order.

In [76]:
import pandas as pd

def game_analysis(activity: pd.DataFrame) -> pd.DataFrame:
    df = activity.loc[:, ["player_id", "event_date"]].sort_values(by=["player_id", "event_date"])
    df.rename(columns={"event_date": "first_login"}, inplace=True)
    df.drop_duplicates(subset=["player_id"], keep="first", inplace=True)
    return df

# Test case:
player_id = [1, 1, 2, 2, 3]
device_id = [2, 2, 3, 1, 4]
event_date = ['2016-03-01', '2016-05-02', '2017-06-25', '2016-03-02', '2016-07-03']
games_played = [5, 6, 1, 0, 5]
activity_table = list(zip(player_id, device_id, event_date, games_played))
activity = pd.DataFrame(activity_table, columns=['player_id', 'device_id', 'event_date', 'games_played'])

game_analysis(activity)

   player_id first_login
0          1  2016-03-01
3          2  2016-03-02
4          3  2016-07-03

#### Q23. Day 23: 2356. Number of Unique Subjects Taught by Each Teacher

- Write a solution to calculate the number of unique subjects each teacher teaches in the university.

- Return the result table in any order.

In [80]:
import pandas as pd

def count_unique_subjects(teacher: pd.DataFrame) -> pd.DataFrame:
    teacher.drop_duplicates(subset=["teacher_id", "subject_id"], keep="first", inplace=True)
    df = teacher.groupby("teacher_id", as_index=False).count()
    df.rename(columns={"subject_id": "cnt"}, inplace=True)
    return df.loc[:, ["teacher_id", "cnt"]]

teacher_id = [1, 1, 1, 2, 2, 2, 2]
subject_id = [2, 2, 3, 1, 2, 3, 4]
dept_id = [3, 4, 3, 1, 1, 1, 1]
teacher_table = list(zip(teacher_id, subject_id, dept_id))
teacher = pd.DataFrame(teacher_table, columns=['teacher_id', 'subject_id', 'dept_id'])

count_unique_subjects(teacher)

   teacher_id  cnt
0           1    2
1           2    4

#### Q24. Day 24: 596. Classes More Than 5 Students

- Write a solution to find all the classes that have at least five students.

- Return the result table in any order.

In [87]:
import pandas as pd

def find_classes(courses: pd.DataFrame) -> pd.DataFrame:
    df = courses.groupby("class", as_index=False).count()
    return df.loc[df["student"] >= 5, ["class"]]

# Test case:
student = ['A', "B", "C", "D", "E", "F", "G", "H", "I"]
class_temp = ['Math', 'English', 'Math', 'Biology', 'Math', 'Computer', 'Math', 'Math', 'Math']
course_table = list(zip(student, class_temp))

courses = pd.DataFrame(course_table, columns=['student', 'class'])

find_classes(courses)

  class
3  Math

#### Q25. Day 25: 586. Customer Placing the Largest Number of Orders

- Write a solution to find the customer_number for the customer who has placed the largest number of orders.

- The test cases are generated so that exactly one customer will have placed more orders than any other customer.

In [102]:
import pandas as pd

def largest_orders(orders: pd.DataFrame) -> pd.DataFrame:
    size = len(orders)
    if size == 0:
        return pd.DataFrame([], columns=["customer_number"])
    df = orders.groupby("customer_number", as_index=False).count().sort_values(by="order_number", ascending=False).reset_index()
    return pd.DataFrame([df.loc[0, ["customer_number"]]], columns=["customer_number"])

# Test case:
orders_table = [[1, 1], [2, 2], [3, 3], [4, 3]]
orders = pd.DataFrame(orders_table, columns=['order_number', 'customer_number'])

largest_orders(orders)

   customer_number
0                3

#### Q26. Day 26: 1484. Group Sold Products By The Date

- Write a solution to find for each date the number of different products sold and their names.

- The sold products names for each date should be sorted lexicographically.

- Return the result table ordered by sell_date.

In [110]:
import pandas as pd

def categorize_products(activities: pd.DataFrame) -> pd.DataFrame:
    activites.drop_duplicates(inplace=True)
    df = activites.groupby("sell_date", as_index=False).agg("mean")
    return df

# Test case:
sell_date = ['2020-05-30', '2020-06-01', '2020-06-02', '2020-05-30', '2020-06-01', '2020-06-02', '2020-05-30']
product = ['Headphone', 'Pencil', 'Mask', 'Basketball', 'Bible', 'Mask', 'T-Shirt']
activites = pd.DataFrame(list(zip(sell_date, product)), columns=['sell_date', 'product'])

categorize_products(activites)

TypeError: agg function failed [how->mean,dtype->object]

#### Q27. Day 27. 1693. Daily Leads and Partners

- For each date_id and make_name, find the number of distinct lead_id's and distinct partner_id's.

- Return the result table in any order.

In [126]:
import pandas as pd

def daily_leads_and_partners(daily_sales: pd.DataFrame) -> pd.DataFrame:
    df_lead = daily_sales.copy()
    df_lead = df_lead.drop(["partner_id"], axis = 1)
    df_lead.drop_duplicates(subset=["date_id", "make_name"], inplace=True)
    df_lead_groupby = df_lead.groupby(["date_id", "make_name"], as_index=False).count()
    return df_lead_groupby
    
    df_partner = daily_sales.copy()
    df_partner = df_partner.drop(["lead_id"], axis = 1)
    df_partner.drop_duplicates(subset=["date_id", "make_name"], inplace=True)
    df_partner.groupby(["date_id", "make_name"], as_index=False).count()

# Test case:
date_id = ['2020-12-8', '2020-12-8', '2020-12-8', '2020-12-7', '2020-12-7', '2020-12-8', '2020-12-8', '2020-12-7', '2020-12-7', '2020-12-7']
make_name = ['toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'honda', 'honda', 'honda', 'honda', 'honda']
lead_id = [0, 1, 1, 0, 0, 1, 2, 0, 1, 2]
partner_id = [1, 0, 2, 2, 1, 2, 1, 1, 2, 1]
daily_sales_table = list(zip(date_id, make_name, lead_id, partner_id))

daily_sales = pd.DataFrame(daily_sales_table, columns=['date_id', 'make_name', 'lead_id', 'partner_id'])

daily_leads_and_partners(daily_sales)

     date_id make_name  lead_id
0  2020-12-7     honda        1
1  2020-12-7    toyota        1
2  2020-12-8     honda        1
3  2020-12-8    toyota        1

## Data Integration

#### Q28. Day 28: 1050. Actors and Directors Who Cooperated At Least Three Times

Write a solution to find all the pairs (actor_id, director_id) where the actor has cooperated with the director at least three times.

Return the result table in any order.

In [134]:
import pandas as pd

def actors_and_directors(actor_director: pd.DataFrame) -> pd.DataFrame:
    ad_groupby = actor_director.groupby(["actor_id", "director_id"], as_index=False).count()
    return ad_groupby.loc[ad_groupby["timestamp"] >= 3, ["actor_id", "director_id"]]

#Test case:
actor_id = [1, 1, 1, 1, 1, 2, 2]
director_id = [1, 1, 1, 2, 2, 1, 1]
timestamp = [0, 1, 2, 3, 4, 5, 6]
ad_table = list(zip(actor_id, director_id, timestamp))

actor_director = pd.DataFrame(ad_table, columns=['actor_id', 'director_id', 'timestamp'])

actors_and_directors(actor_director)

   actor_id  director_id
0         1            1

#### Q29. Day 29: 1378. Replace Employee ID With The Unique Identifier

Write a solution to show the unique ID of each user, If a user does not have a unique ID replace just show null.

Return the result table in any order.

In [136]:
import pandas as pd

def replace_employee_id(employees: pd.DataFrame, employee_uni: pd.DataFrame) -> pd.DataFrame:
    df = pd.merge(left=employees, right=employee_uni, left_on='id', right_on='id', how='left')
    return df.loc[:, ["unique_id", "name"]]

# Test case:
emp_table = [[1, 'Alice'], [7, 'Bob'], [11, 'Meir'], [90, 'Winston'], [3, 'Jonathan']]
empUNI = [[3, 1], [11, 2], [90, 3]]
employees = pd.DataFrame(emp_table, columns=['id', 'name'])
employeeUNI = pd.DataFrame(empUNI, columns=['id', 'unique_id'])

replace_employee_id(employees, employeeUNI)

   unique_id      name
0        NaN     Alice
1        NaN       Bob
2        2.0      Meir
3        3.0   Winston
4        1.0  Jonathan

#### Q30. Day 30: 1280. Students and Examinations

Write a solution to find the number of times each student attended each exam.

Return the result table ordered by student_id and subject_name.

In [153]:
import pandas as pd

def students_and_examinations(students: pd.DataFrame, subjects: pd.DataFrame, examinations: pd.DataFrame) -> pd.DataFrame:
    df = pd.merge(left=students, right=subjects, how='cross')
    exam_df = examinations.groupby(["student_id", "subject_name"], as_index=False).count()
    df_2 = pd.merge(left=df, right=examinations, how='left', left_on=['student_id', 'subject_name'], right_on=['student_id', 'subject_name'])
    return df_2

#Test case:
Students_table = [[1, 'Alice'], [2, 'Bob'], [13, 'John'], [6, 'Alex']]
students = pd.DataFrame(Students_table, columns=['student_id', 'student_name'])

subject_name_table = ['Maths', 'Physics', 'Programming']
subjects = pd.DataFrame(subject_name_table, columns=['subject_name'])

# Creating examinations table and then dataframe
student_id = [1, 1, 1, 2, 1, 1, 13, 13, 13, 2, 1]
subject_name = ['Math', 'Physics', 'Programming', 'Programming', 'Physics', 'Math', 'Math', 'Programming', 'Physics', 'Math', 'Math']
examinations_table = list(zip(student_id, subject_name))
examinations = pd.DataFrame(examinations_table, columns=['student_id', 'subject_name'])

students_and_examinations(students, subjects, examinations)

   student_id subject_name
0           1         Math
1           1      Physics
2           1  Programming
3           2         Math
4           2  Programming
5          13         Math
6          13      Physics
7          13  Programming

#### Q31. Day 31: 570. Managers with at Least 5 Direct Reports

Write a solution to find managers with at least five direct reports.

Return the result table in any order.

In [55]:
import pandas as pd

def find_managers(employee: pd.DataFrame) -> pd.DataFrame:
    

# Test case:
id = [101, 102, 103, 104, 105]
name = ['John', 'Dan', 'James', 'Amy', 'Anne', 'Ron']
department = ['A', 'A', 'A', 'A', 'A', 'B']
managerId = [None, 101, 101, 101, 101, 101]

employees_tabe = list(zip(id, name, department, managerId))
employee = pd.DataFrame(employees_tabe, columns=['id', 'name', 'department', 'managerId'])

find_managers(employee)

#### Q32. Day 32: 607. Sales Person

Write a solution to find the names of all the salespersons who did not have any orders related to the company with the name "RED".

Return the result table in any order.

In [183]:
import pandas as pd

def sales_person(sales_person: pd.DataFrame, company: pd.DataFrame, orders: pd.DataFrame) -> pd.DataFrame:
    df = pd.merge(left=company, right=orders, how='inner', left_on='com_id', right_on='com_id')
    df = df.loc[df['name'] == 'RED', ["sales_id"]]
    sales_person = sales_person[~sales_person["sales_id"].isin(df['sales_id'])]
    return sales_person["name"]

#Test case:
## Creating sales table
sales_id = range(1, 6)
name = ['John', 'Amy', 'Mark', 'Pam', 'Alex']
salary = [100000, 12000, 65000, 25000, 5000]
commission_rate = [6, 5, 12, 25, 10]
hire_date = ['4/1/2006', '5/1/2010', '12/25/2008', '1/1/2005', '2/3/2007']
sales_person_table = list(zip(sales_id, name, salary, commission_rate, hire_date))
sales_person_df = pd.DataFrame(sales_person_table, columns=['sales_id', 'name', 'salary', 'commission_date', 'hire_date'])

## Creating Company table
com_id = [1, 2, 3, 4]
name = ['RED', 'ORANGE', 'YELLOW', 'GREEN']
city = ['Boston', 'New York', 'Boston', 'Austin']
company_table = list(zip(com_id, name, city))
company = pd.DataFrame(company_table, columns=['com_id', 'name', 'city'])

## Creating orders table
order_id = [1, 2, 3, 4]
order_date = ['1/1/2014', '2/1/2014', '3/1/2014', '4/1/2014']
com_id = [3, 4, 1, 1]
sales_id = [4, 5, 1, 4]
amount = [10000, 5000, 50000, 25000]
orders_table = list(zip(order_id, order_date, com_id, sales_id, amount))
orders = pd.DataFrame(orders_table, columns=['order_id', 'order_date', 'com_id', 'sales_id', 'amount'])

sales_person(sales_person_df, company, orders)

1     Amy
2    Mark
4    Alex
Name: name, dtype: object

#### Q33. Day 33: Accepted Candidates from the interview