### This notebook contains the solutions of leetcode`s 30 days of Pandas tutorial

Link: https://leetcode.com/studyplan/30-days-of-pandas/

#### Q1. Day 1: 595. Big Countries

- A country is big if:

- it has an area of at least three million (i.e., 3000000 km2), or
- it has a population of at least twenty-five million (i.e., 25000000).
- Write a solution to find the name, population, and area of the big countries.

- Return the result table in any order.

In [11]:
import pandas as pd

def big_countries(world: pd.DataFrame) -> pd.DataFrame:
    return world.loc[(world['area'] >= 3000000) | (world['population'] >= 25000000), ['name', "population", 'area']]

#Test case:
name = ['AFG', 'ALB', 'ALG', 'AND', 'ANG']
continent = ['Asia', 'Europe', 'Africa', 'Europe', 'Africa']
area = [652230, 28748, 2381741, 468, 1246700]
population = [25500100, 2831741, 37100000, 78115, 20609294]
gdp = [20343000000, 12960000000, 188681000000, 3712000000, 100990000000]
world_ls = list(zip(name, continent, area, population, gdp))

world_df = pd.DataFrame(world_ls, columns=['name', 'continent', 'area', 'population', 'gdp'])

big_countries(world_df)

  name  population     area
0  AFG    25500100   652230
2  ALG    37100000  2381741

#### Q2. Day 2: 1757. Recyclable and Low Fat Products

-  Write a solution to find the ids of products that are both low fat and recyclable.

-  Return the result table in any order.

In [12]:
import pandas as pd

def find_products(products: pd.DataFrame) -> pd.DataFrame:
    return products.loc[(products['low_fats'] == 'Y') & (products['recyclable'] == 'Y'), ['product_id']]

# Test case:
product_id = range(0, 5)
low_fats = ['Y', 'Y', 'N', 'Y', 'N']
recyclable = ['N', 'Y', 'Y', 'Y', 'N']
products = pd.DataFrame(list(zip(product_id, low_fats, recyclable)), columns=['product_id', 'low_fats', 'recyclable'])

find_products(products)

   product_id
1           1
3           3